<header class="header">
  <div class="container header-container">
    <ul class="product-bar list">

      <li class="catalog-item">
          <svg>
            <use href='/src/symbol.svg#icon-menu'></use>
          </svg>
      
      </li>

      <li class="search-item">
        <svg>
            <use href="/src/symbol.svg#icon-search"></use>
          </svg>
        <input>
      </li>

    </ul>

    <a class="logo-link link">
      <img src="/src/images/logo-yes.png">
    </a>

    <ul class="menu-list list">
      <li class="menu-item">
        <a class="registration-link menu-link link">
          <span>Вхід</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="favourites-link menu-link link"> 
          <svg>
            <use href="/src/symbol.svg#icon-heart"></use>
          </svg>
        </a>
      </li>

      <li class="menu-item">
        <a class="basket-link menu-link link">
          <svg>
            <use href="/src/symbol.svg#icon-basket"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

